@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@utility container {
  margin-inline: auto;
  max-width: 1170px;
}

@theme{
  /* Fonts  */
  --font-poppins:"Poppins", sans-serif;
  --font-grotesk:  "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Colors */
  --color-button: #000000;
  --color-text: #FAFAFA;
}

.buttons::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 0;
  background: #000000;
  transition: all linear 0.3s;
}

.buttons:hover::after{
  width: 100%;
}