@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@utility container {
  padding-inline: 1rem ;
  margin-inline: auto;
}

/* @layer base {
  body {
    background: white;
  }
} */

@theme {
  
  /* CONTAINER */
  --breakpoint-*: initial;   /*[ container wide ÷ 16 = rem ]  [ rem × 16 = px ] */
  --breakpoint-sm: 40rem;    /*[ container wide ÷ 16 = rem ]  [ rem × 16 = px ] */
  --breakpoint-md: 48rem;    /*[ container wide ÷ 16 = rem ]  [ rem × 16 = px ] */
  --breakpoint-lg: 64rem;    /*[ container wide ÷ 16 = rem ]  [ rem × 16 = px ] */
  --breakpoint-xl: 74.5rem;  /*[ container wide ÷ 16 = rem ]  [ rem × 16 = px ] */
  --breakpoint-2xl: 96rem;   /*[ container wide ÷ 16 = rem ]  [ rem × 16 = px ] */
   /* CONTAINER */

   /* FONT FAMILY */
   --poppins:"Poppins", sans-serif;
   --open-sans:"Open Sans", sans-serif;
   --volkhov:"Volkhov", serif;
   --inter:"Inter", sans-serif;
   /* FONT FAMILY */

}